* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  
  nav {
    background-color: rgb(104, 121, 85);
    width: 100%;
    height: 100px;
  }
  
  .title {
    font-style: italic;
    font-size: 5rem;
    padding: 40pc 0 10px 30px;
    margin-right: 30%;
    color: white;
  }
  
  .navlink,
  .title,
  .list {
    display: inline;
    margin-top: 1px;
  }
  
  .navlink,
  .list,
  a {
    margin-left: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
  
  .navlink a {
    border-bottom: 2px pink solid;
    border-radius: 10px;
  }


  /* Log In  */

  #log-in{
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: gray;
  }

.log-container{
    width: 400px;
    height: 550px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 35%;
}

.log-img{
    width: 70px;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 150px;    
}

.log-details label{
    font-size: 30px;
    font-family: "Lobster", sans-serif;
    display: block;
    margin-top: 20px;
    margin-left: 130px;
}
.log-details input{
    display: block;
    width: 200px;
    height: 30px;
    margin-left: 90px;
    margin-top: 15px;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    cursor: pointer;
}


.remamber, label,input{
    font-family: "Lobster", sans-serif;
    font-size: 20px;
    position: relative;
    top: 15px;
    left: 30px;
}

.log-pass a{
    color: black;
    font-size: 20px;
    position: relative;
    top: 6px;
    left: 230px;
    font-family: "Lobster", sans-serif;
    cursor: pointer;
}